$mdc-theme-primary: #3f51b5;
$mdc-theme-secondary: #ff4081;
$mdc-theme-background: #fff;

$mdc-typography-font-family: 'Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif';

@import "~material-components-web/material-components-web";
