<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">

  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="js/vendor/vuetify/vuetify.min.css">
  <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<div id="app" v-cloak>
  <v-app
    id="m1"
    toolbar
    :dark="dark"
    :light="!dark"
  >
    <v-navigation-drawer
      class="pb-0"
      persistent
      height="100%"
      clipped
      enable-resize-watcher
      v-model="drawer"
    >
      <v-list dense>
        <v-list-tile v-for="item in items" :key="item.text" @click="">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ item.text }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-subheader class="mt-3 grey--text text--darken-1">盖章管理</v-subheader>
        <v-list>
          <v-list-tile v-for="item in items2"
                       :key="item.id"
                       :to="item.href">
            <v-list-tile-action>
              <v-icon v-if="item.icon">{{item.icon}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-title v-text="item.text"></v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar class="red" fixed>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>管理后台</v-toolbar-title>
      <v-spacer></v-spacer>
      <span>廖红卫</span>
      <v-btn icon>
        <v-icon>person</v-icon>
      </v-btn>
    </v-toolbar>
    <main>
      <v-container fluid>
        <router-view></router-view>

      </v-container>
    </main>
  </v-app>
</div>

<!-- 盖章信息组件模板 -->
<script type="text/x-template" id="seal">
  <v-layout column>
    <v-flex class="mb-3">
      <v-card>
        <v-layout>
          <v-flex>
            <v-select
              label="Async items"
              autocomplete
              :async-loading="loading"
              multiple
              cache-items
              chips
              :items="items3"
              :rules="[() => select.length > 0 || 'You must choose at least one']"
              :search-input.sync="search"
              v-model="select"
            ></v-select>
          </v-flex>
          <v-flex>
            <v-btn>xxx</v-btn>
            <v-btn>xxx</v-btn>
            <v-btn>xxx</v-btn>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
    <v-flex>
      <v-card>
        {{test}}1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
        <div>asf</div>
      </v-card>
    </v-flex>
  </v-layout>
</script>
<!-- 文件资料组件模板 -->
<script type="text/x-template" id="file">
  <v-layout>
    <v-flex xs12>
      <v-card height="300px">
        {{test}}
      </v-card>
    </v-flex>
  </v-layout>
</script>


<!-- 公共模板 -->
<script type="text/x-template" id="table">
  <div>{{test}}</div>
</script>

<script src="js/vendor/vue/vue.js"></script>
<script src="js/vendor/vue-router/vue-router.js"></script>
<script src="js/vendor/vuetify/vuetify.js"></script>
<script src="js/plugins.js"></script>

<!-- 各个组件定义 -->
<script src="js/GzSealComponent.js"></script>
<script src="js/GzFileComponent.js"></script>


<script src="js/route.js"></script>
<script src="js/main.js"></script>
</body>
</html>
