<div class="jjsim-window im-online">
  <div class="jjsim-wintitle">
    <span class="im-wt-name"></span>
    <div class="im-wt-portrait"><i class="sprite sprite-portrait"></i></div>
    <div class="im-wt-loading"><img src="../../../resource/images/loading.gif"></div>
    <a class="im-wt-closebtn" title="关闭"><i class="sprite sprite-close"></i></a>
  </div>
  <div class="jjsim-wincont">
    <!-- 消息面板 -->
    <div class="im-wc-chat scroll">
      <p class="chat-tophint">
        <span class="txt"></span>
      </p>
      <ul class="im-chat-content clearfix">
      </ul>
    </div>
    <!-- 连接中禁用class加上 disabled -->
    <div class="im-wc-input">
      <div class="im-tool">
        <a class="emoji" href="javascript:"><i class="sprite sprite-face"></i></a>
        <a class="image" href="javascript:"><i class="sprite sprite-pic"></i></a>
      </div>
      <div class="im-input-container">
        <!-- 连接中禁用加上 disabled=true -->
        <textarea class="scroll" name="im-msg-content" id="im-msg-content" placeholder=""></textarea>
      </div>
      <div class="im-btn-container">
        <a class="applink" href="" target="_blank" title=""></a>
        <a href="javascript:" class="btn send">发送</a>
      </div>
      <div class="im-input-content-null-tip">发送内容为空,请重新输入</div>
    </div>
    <!-- 新消息提示 -->
    <div class="im-msg-new"></div>
  </div>
</div>
