<div class="jjsim-window im-online" data-agentid="1">
  <div class="jjsim-wintitle">
    <span class="im-wt-name"></span>
     <div class="im-wt-portrait"><i class="sprite sprite-portrait"></i></div>
     <div class="im-wt-loading"><img src="../../../resource/images/loading.gif"></div>
    <a class="im-wt-closebtn" title="关闭"><i class="sprite sprite-close"></i></a>
  </div>
  <div class="jjsim-wincont">
    <!-- 消息面板 -->
    <div class="im-wc-chat scroll">
      <p class="chat-tophint">
        <span class="txt"></span>
      </p>
      <ul class="im-chat-content clearfix">
      </ul>
    </div>
    <!-- 连接中禁用class加上 disabled -->
    <div class="im-wc-input">
      <div class="im-tool">
        <a class="emoji" href="javascript:"><i class="sprite sprite-face"></i></a>
        <a class="image" href="javascript:"><i class="sprite sprite-pic"></i></a>
      </div>
      <div class="im-input-container">
        <!-- 连接中禁用加上 disabled=true -->
        <textarea class="scroll" name="im-msg-content" id="im-msg-content" placeholder=""></textarea>
      </div>
      <div class="im-btn-container">
        <a class="applink" href="" target="_blank" title=""></a>
        <a href="javascript:" class="btn send">发送</a>
      </div>
    </div>
    <!-- 新消息提示 -->
    <div class="im-msg-new">廖红卫暗示法卡送福利卡刷卡了疯狂拉升疯狂拉升卡拉斯科拉夫克拉发送卡拉夫上课啦沙发沙发克拉斯疯狂拉升反馈拉丝粉</div>
  </div>
</div>
