<div class="jjsim-window im-online" data-agentid="1">
  <div class="jjsim-wintitle">
    <span class="im-wt-name">李芳</span>
    <!-- <div class="im-wt-portrait"><i class="sprite sprite-portrait"></i></div> -->
    <!-- <div class="im-wt-loading"><img src="images/loading.gif"></div> -->
    <a class="im-wt-closebtn" title="关闭"><i class="sprite sprite-close"></i></a>
  </div>
  <div class="jjsim-wincont">
    <div class="im-wc-chat scroll">
      <p class="chat-tophint"><span class="txt">聊天中经纪人无法知道您的手机号</span></p>
      <ul class="im-chat-content clearfix">
        <li class="im-msg-time">
          <p class="chat-time">昨天 15:30</p>
        </li>
        <li class="im-msg-item im-msg-right im-msg-link">
          <div class="msg-img">
            <img src="../../../resource/images/default.png">
          </div>
          <div class="msg-text">
            <div class="text">
              <a class="msg-link clearfix" href="#" target="_blank">
                <div class="link-item-img">
                  <img
                    src="https://imgcloud.jjshome.com/pic/hsl/2017-09/19/929354be-3202-4b83-bd71-9755a82aa8fe.jpg?imageView2/2/w/160/h/120"
                    onerror="this.src='images/default.png';this.onError=null;">
                </div>
                <span class="link-span link-title" title="旭飞花园 一房一厅一室一卫">旭飞花园 一房一厅一室一卫</span>
                <span class="link-span  link-attr" title="啥时候有空来看看"><em>1室1厅1卫</em>&nbsp;&nbsp;<em>108m²</em></span>
                <span class="link-span link-price" title="昨天 12:10"><em>155</em>万</span>
              </a>
            </div>
          </div>
        </li>
        <li class="im-msg-item im-msg-tip">
          <!-- 等待中 -->
          <!-- <span class="msg-tip">正在为您安排置业顾问，请稍等...</span> -->
          <!-- 无人抢单 -->
          <!-- <span class="msg-tip">置业顾问正忙，您可致电客服<br/>2028400-8869-200</span> -->
          <!-- 服务中 -->
          <span class="msg-tip">置业顾问<em>陈就</em>为您服务</span>
        </li>
        <li class="im-msg-item im-msg-left">
          <div class="msg-img">
            <img
              src="https://imgcloud.jjshome.com/pic/fang/2016-11/24/FrWAfxshNWeuW3k8QFBiWM6g8rTT.jpg?imageView2/1/w/66/h/88">
          </div>
          <div class="msg-text">
            <div class="text">您好！我是您的置业顾问陈某某，很高兴为您服务！</div>
          </div>
        </li>
        <li class="im-msg-item im-msg-right">
          <div class="msg-img">
            <img src="../../../resource/images/default.png">
          </div>
          <div class="msg-text">
            <div class="text">你好，我比较喜欢这套房子......</div>
            <i class="sprite sprite-warning msg-warning" title="发送失败"></i>
          </div>
        </li>

      </ul>
    </div>
    <!-- 连接中禁用class加上 disabled -->
    <div class="im-wc-input">
      <div class="im-tool">
        <a class="emoji" href="javascript:"><i class="sprite sprite-face"></i></a>
        <a class="image" href="javascript:"><i class="sprite sprite-pic"></i></a>
      </div>
      <div class="im-input-container">
        <!-- 连接中禁用加上 disabled=true -->
        <textarea class="scroll" name="im-msg-content" id="im-msg-content" placeholder=""></textarea>
      </div>
      <div class="im-btn-container">
        <a class="applink" href="" target="_blank" title=""></a>
        <a href="javascript:" class="btn send">发送</a>
      </div>
    </div>
  </div>
</div>
